@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-weight: 200;
        --hu-blue: #00376c;
        --header-height: 6rem;
    }
}

.inline-link-header {
    background: linear-gradient(
            to bottom,
            var(--hu-blue) 0%,
            var(--hu-blue) 100%
    ) no-repeat center bottom;
    background-size: 0 0.05rem;
}

a:hover .inline-link-header {
    background-size: 100% 0.05rem;
}


